<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0" />

    <!-- Nav Item - Dashboard -->
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/dashboard']">
            <i class="mdi mdi-gauge"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider" />

    <ng-container *ngFor="let item of menu">
        <!-- Heading -->
        <div class="sidebar-heading">
            {{ item.titulo }}
        </div>

        <!-- Nav Item - {{ item.titulo }} Collapse Menu -->
        <li class="nav-item" *ngFor="let subitem of item.items" routerLinkActive="active">
            <a class="nav-link collapsed" data-toggle="collapse" [attr.data-target]="'#collapse' + subitem.titulo"
                aria-expanded="true" [attr.aria-controls]="'collapse' + subitem.titulo">
                <!-- <a
            class="nav-link collapsed"
            data-toggle="collapse"
            [attr.data-target]="'#collapse' + subitem.titulo"
            aria-expanded="true"
            [attr.aria-controls]="'collapse' + subitem.titulo"
            [routerLink]="subitem.url ? [subitem.url] : ['/']"
        > -->
                <i [class]="subitem.icon"></i>
                <span>{{ subitem.titulo }}</span>
            </a>
            <div [id]="'collapse' + subitem.titulo" class="collapse" data-parent="#accordionSidebar"
                *ngIf="subitem.submenu.length > 0">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a *ngFor="let items of subitem.submenu" class="collapse-item" [routerLink]="[items.url]"
                        routerLinkActive="active">{{ items.titulo }}</a>
                </div>
            </div>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider" />
    </ng-container>

    <!-- Heading -->
    <div class="sidebar-heading">
        Addons
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
            aria-controls="collapsePages">
            <i class="mdi mdi-folder"></i>
            <span>Pages</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Login Screens:</h6>
                <a class="collapse-item" href="login.html">Login</a>
                <a class="collapse-item" href="register.html">Register</a>
                <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                <div class="collapse-divider"></div>
                <h6 class="collapse-header">Other Pages:</h6>
                <a class="collapse-item" href="404.html">404 Page</a>
                <a class="collapse-item" href="blank.html">Blank Page</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="charts.html">
            <i class="mdi mdi-chart-arc"></i>
            <span>Charts</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="tables.html">
            <i class="mdi mdi-table-edit"></i>
            <span>Tables</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block" />

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-flex align-items-center justify-content-center">
        <button class="rounded-circle border-0 d-flex align-items-center justify-content-center"
            id="sidebarToggle"></button>
    </div>
</ul>
<!-- End of Sidebar -->